/* :host - це сам компонент <app-header> */
:host {
  display: block;
}

mat-toolbar.dashboard-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  padding-left: 0;
  padding-right: 0;
}

/* --- Ліва частина (Час/Дата) --- */
.header-left {
  display: flex;
  flex-direction: column;
  color: #666;
}
.time-text {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
}
.date-text,
.greeting-text {
  font-size: 0.9em;
}

/* --- Розпірка --- */
.spacer {
  flex: 1 1 auto;
}

/* --- Права частина (Пошук/Користувач) --- */
.header-right {
  display: flex;
  align-items: center;
}

/* Пошук */
.search-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f5;
  border-radius: 8px;
  padding: 8px 15px;
  margin-right: 30px;
}
.search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1em;
}
.search-icon {
  margin-right: 10px;
  color: #aaa;
}

/* Профіль користувача */
.user-profile {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #3b3f6f;
}

/* Стилізуємо кнопку-іконку аватара */
.avatar-button {
  margin-left: 15px;
  color: #f99c22;
  width: 40px;
  height: 40px;
}
.avatar-button mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
