<mat-form-field class="location-search-field">
    <mat-label>Пошук міста...</mat-label>
    <input type="text" placeholder="Введіть назву міста" matInput [formControl]="searchControl"
        [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
        @for (suggestion of suggestions$ | async; track suggestion.placeId) {
        <mat-option [value]="suggestion">
            {{ suggestion.description }}
        </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>