<mat-form-field class="location-search-field" appearance="outline">
  <mat-icon matPrefix>search</mat-icon>
  
  <mat-label>City search...</mat-label>
  
  <input 
    type="text" 
    matInput 
    [formControl]="searchControl"
    [matAutocomplete]="auto" 
  />

  <button 
    mat-icon-button 
    matSuffix 
    (click)="useCurrentLocation()" 
    [disabled]="isLocating()"
    aria-label="Use my location"
    type="button"
  >
    <mat-icon [class.spin]="isLocating()">
      {{ isLocating() ? 'sync' : 'my_location' }}
    </mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
    @for (suggestion of suggestions$ | async; track suggestion.place_id) {
      <mat-option [value]="suggestion">
        {{ suggestion.description }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>