<mat-card class="sun-details-card">
  <mat-card-header class="card-header">
    <mat-card-title>Sunrise & Sunset</mat-card-title>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Refresh</button>
      <button mat-menu-item>Settings</button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <div class="location-block">
      <h4>Kushtia, Khulna</h4>
      <div class="times-row">
        <div class="time-item">
          <mat-icon class="icon sunrise">wb_twilight</mat-icon>
          <div class="details">
            <div class="label">Sunrise</div>
            <div class="time">6:45 AM</div>
          </div>
        </div>
        <div class="time-item">
          <mat-icon class="icon sunset">wb_twilight</mat-icon>
          <div class="details">
            <div class="label">Sunset</div>
            <div class="time">4:55 PM</div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="location-block">
      <h4>New York, London</h4>
      <div class="times-row">
        <div class="time-item">
          <mat-icon class="icon sunrise">wb_sunny</mat-icon>
          <div class="details">
            <div class="label">Sunrise</div>
            <div class="time">5:30 AM</div>
          </div>
        </div>
        <div class="time-item">
          <mat-icon class="icon sunset">brightness_3</mat-icon>
          <div class="details">
            <div class="label">Sunset</div>
            <div class="time">6:30 PM</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>