@use '@angular/material' as mat;

@include mat.core();

$azure: mat.$azure-palette;
$magenta: mat.$magenta-palette;
$green: mat.$green-palette;
$orange: mat.$orange-palette;
$blue: mat.$blue-palette;

:root {
  @include mat.theme((
    color: (
      primary: $azure,
      tertiary: $blue,
    ),
    typography: Roboto,
    density: 0
  ));
}

.theme-magenta {
  @include mat.theme((
    color: (
      primary: $magenta,
      tertiary: $blue,
    ),
    typography: Roboto,
    density: 0
  ));
}

.theme-green {
  @include mat.theme((
    color: (
      primary: $green,
      tertiary: $blue,
    ),
    typography: Roboto,
    density: 0
  ));
}

.theme-orange {
  @include mat.theme((
    color: (
      primary: $orange,
      tertiary: $blue,
    ),
    typography: Roboto,
    density: 0
  ));
}

// вибір кольорової схеми
@mixin choose-color-scheme() {
  html {
    color-scheme: light;
    &.dark-theme {
      color-scheme: dark;
    }
    &.auto-theme {
      color-scheme: light dark;
    }
  }
}
@include choose-color-scheme();

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
