body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
}

.weather-dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
