/* Стилізуємо mat-card */
mat-card.air-quality-card {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid #e0e0e0;
}

/* Використовуємо ::ng-deep для стилізації внутрішніх елементів Material */
:host ::ng-deep .air-quality-card .mat-mdc-card-header-text {
  width: 100%; /* Дозволяє subtitle бути під title */
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #888;
  margin-top: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.refresh-button {
  /* Стилі для mat-stroked-button */
  border-color: #f0f0f5;
  background-color: #f0f0f5;
  color: #3b3f6f;
  font-weight: bold;
}
.refresh-button:hover {
  background-color: #e0e0e5;
}

mat-card.air-quality-card mat-divider {
  margin: 15px 0;
  border-top-color: #f0f0f5;
}

/* Якість повітря */
.quality-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.quality-icon {
  font-size: 3em;
  margin-right: 15px;
  color: green; /* Колір іконки */
  width: 1em;
  height: 1em;
}
.status {
  font-size: 1.5em;
  font-weight: bold;
  color: green;
}
.recommendation {
  color: #666;
  font-size: 0.9em;
}

/* Метрики */
.metrics-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.metric {
  flex: 1;
  padding: 5px;
}
.metric .value {
  font-size: 1.2em;
  font-weight: bold;
  color: #3b3f6f;
  margin-bottom: 5px;
}
.metric .label {
  font-size: 0.8em;
  color: #888;
}
