<div class="forecast-container">
    <h3>Forecast</h3>

    <div class="days-row">
        <mat-card *ngFor="let day of forecast" class="day-card" [ngClass]="{ 'today-active': day.active }">

            <mat-card-content>
                <div class="day-name">{{ day.day }}</div>
                <div class="precipitation">{{ day.precipitation }}%</div>
                <mat-icon class="weather-icon">{{ day.icon }}</mat-icon>
                <div class="temperature">{{ day.temp }}</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>